# This file compresses the .h5 file so that it can be pushed and pulled on github
# NOTE: The .h5 file may be corrupted. If that's the case, redownload it from https://github.com/pedropro/TACO/releases/tag/1.0
*.h5 filter=lfs diff=lfs merge=lfs -text
