#type,
#trash,
#selectedtrash {
    width: 15%;
}

#quantityType {
    width: 110px;
}

#quantity {
    width: 70px;
}

.a {
    width: 15%;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.b {
    width: 100px;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}