{% block content %}

<!--Importing style.css and javascript for implementing features-->

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <title>Home Page</title>
</head>

<!-- Styling for About -->
<style>
    .owl-dots {
        text-align: center;
        margin-top: 20px;
    }
    
    .owl-dot {
        height: 13px;
        width: 13px;
        outline: none! important;
        border-radius: 50%;
        border: 2px solid white!important;
    }
    
    .owl-dot.active {
        width: 35px;
        border-radius: 14px;
    }
</style>

<body>
    <!--Navbar, usually in base.html but here so i can update the css specifically for the home page-->
    <div class="w3-top navbar-fixed-top">
        <div class="w3-bar w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button"><b>Taco</b> Project</a>
            <div class="w3-right w3-hide-small">
                <a href="/" class="w3-bar-item w3-button">Home</a>
                <a href="/uploadredirect" class="w3-bar-item w3-button">Upload</a>
                <a href="/library" class="w3-bar-item w3-button">Library</a>
                <a href="/searchredirect" class="w3-bar-item w3-button">Search</a>
                <a href="/#capabilities" class="w3-bar-item w3-button">Capabilities</a>
                <a href="/#process" class="w3-bar-item w3-button">Process</a>
                <a href="/#about" class="w3-bar-item w3-button">About</a>
            </div>
        </div>
    </div>
    <!--Parallex images-->
    <div class="parallex">
        <section>
            <img src="{{ url_for('static', filename='assets/sun1.png') }}" id="sun">
            <h2 id="text"><span>Help save our</span><br>Planet</h2>
            <img src="{{ url_for('static', filename='assets/water1.png') }}" id="water">
        </section>
    </div>



    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- Capabilities Section -->
        <div class="w3-container w3-padding-8" id="capabilities">
            <br>
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><u><b>Current Capabilities</b></u></h3>
            <p>Users are only allowed to upload images to the website</p>
            <p>Object Detection</p>
            <p>Provides basic visualizations</p>
            <p>Provides basic labeling and confidence labels</p>
            <p>Provides a bounding box overlay of every recognized object</p>
        </div>

        <!-- Process Section -->
        <div class="w3-container w3-padding-8" id="process">
            <br>
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><u><b>Process</b></u></h3>
            <p>1. Users are able to navigate to the “Upload” page to submit an image for annotation.</p>
            <p>2. Upon completion, the image can be found with all other images in the “Library” page or can be filtered through in the “Search” page.</p>
            <p>3. Within the "Library" and "Search" page, users are able to preview and download the original images as well as the annotated versions.</p>
        </div>

        <!-- About section-->
        <div class="w3-container w3-padding-8" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><u><b>About</b></u></h3>
            <div class="max-width">
                <div class="carousel owl-carousel">
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/M8sGNY4/unknown-adobespark.png" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Ryan Lubin</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at Emory University studying Information Systems and Operations Management.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/41pK6Vf/image0-adobespark.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Henry Lewis</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at the University of Cincinnati studying Business Analytics and Information Systems.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/hysD2TM/1-adobespark.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Moez Abbes</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at Michigan State University studying Computer Science.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/3FQWY4w/Hafeez.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Hafeez Oyeneyin</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Senior at University of Michigan-Dearborn studying Computer Engineering.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/jGvWcxL/ryanr1.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Ryan Romano</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at Northern Kentucky University studying Computer Science.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/cXc817g/abel.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Abel Varughese</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at Rutgers University-New Brunswick studying Information Technology.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/HdQfnJR/zaher1.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Zaher Hage</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Senior at University of Michigan-Ann Arbor studying Computer Science.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 6px; padding: 25px 35px; text-align: center;">
                        <div class="box" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="https://i.ibb.co/HVZ9jdV/carterw.jpg" alt="" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: 5px solid white;">
                            <div class="text" style="color: white; font-size: 25px; font-weight: 500; margin: 10px 0 7px 0;">Carter Welke</div>
                            <p class="w3-opacity">Intern</p>
                            <p>Rising Senior at University of California-Santa Cruz studying Computer Science.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page content -->
    </div>
</body>
<!--Javascript, couldnt get js file to work-->
<script>
    //function that changes the color of the nav bar as you scroll
    $(function() {
        $(document).scroll(function() {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height() * 10);
        });
    });

    //Implementing parallex, what allows the images to move as you scroll
    let sun = document.getElementById("sun");
    let water = document.getElementById("water");
    let text = document.getElementById("text");
    water.style.top = water.style.top + 50 + 'px';
    window.addEventListener('scroll', () => {
        var value = window.scrollY;
        sun.style.top = value * 0.5 + 'px';
        water.style.top = water.style.top * -0.5 + 'px';
        text.style.top = value * 0.5 + 'px';
    });

    // owl carousel script, for the about section. Creates a responsive carousel slider.
    $('.carousel').owlCarousel({
        margin: 20,
        loop: true,
        autoplayTimeOut: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            600: {
                items: 2,
                nav: false
            },
            1000: {
                items: 4,
                nav: false
            }
        }
    });
</script>

{% endblock %}