{% extends "base.html" %}
{% block title %}Library Page{% endblock %}
{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<body>
    <div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
        <div class="w3-container w3-padding-8 w3-margin-top" id="upload">
            {{ pagination.links }}
            <form name="form1" id="form1" method="GET" action="/download">
                <a href="{{url_for('download_files', images=images, is_ann='False')}}">Download All Images</a>
                <br>
                <a href="{{url_for('download_files', images=ann_images, is_ann='True')}}">Download All Annotated Images</a>
                <br>
                <a href="{{url_for('remove_files', images=images)}}">Remove All Images</a>
                <br>
                <table class="table"> 
                    <tr class="table__header">
                        <th class="table__header">
                            Count
                        </th>
                        <th class="table__header">
                            Images
                        </th>
                        <th class="table__header">
                            Download Image
                        </th>
                        <th class="table__header">
                            Download Annotated Image
                        </th>
                        <th class="table__header">
                            Remove
                        </th>
                        <th class="table__header">
                            img_Preview
                        </th>
                        <th class="table__header">
                            ann_Preview
                        </th>
                    </tr>
                    {% for i in range(list_len) %}
                        <tr class="table__row">
                            <td class="table__cell">
                                {{ loop.index + (page - 1) * per_page }}
                            </td>
                            <td class="table__cell">
                                {{ images[i] }}
                            </td>
                            <td class="table__cell">
                                <a href="{{url_for('download_file', img=images[i], is_ann=False)}}">Download</a>
                            </td>
                            <td class="table__cell">
                                <a href="{{url_for('download_file', img=ann_images[i], is_ann=True)}}">Download</a>
                            </td>
                            <td class="table__cell">
                                <a href="{{url_for('remove_file', img=images[i])}}">Remove</a>
                            </td>
                            <td class="table__cell">
                                <img src="{{ url_for('display_image', filename=images[i], is_ann=False) }}" alt="library_img" width="75" height="75">
                            </td>
                            <td class="table__cell">
                                <img src="{{ url_for('display_image', filename=ann_images[i], is_ann=True) }}" alt="library_img" width="75" height="75">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
            {{ pagination.links }}
        </div>
    </div>
</body>
{% endblock %}
