{% extends "base.html" %}
{% block title %}Library Page{% endblock %}
{% block links %}<link rel="stylesheet" href="/static/table.css" />{% endblock %}

{% block content %}
<div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
    <div class="w3-container w3-padding-8 w3-margin-top" id="upload">
        <form name="form1" id="form1" method="GET" action="/download">
            <table class="table"> 
                <tr class="table__header">
                    <th class="table__header">
                        Images
                    </th>
                    <th class="table__header">
                        Download
                    </th>
                    <th class="table__header">
                        Remove
                    </th>
                </tr>
                {% for image in images %}
                <tr class="table__row">
                    <td class="table__cell">
                        {{ image }}
                    </td>
                    <td class="table__cell">
                        <a href="{{url_for('download_file', img=image)}}">Download</a>
                    </td>
                    <td class="table__cell">
                        <a href="{{url_for('remove_file', img=image)}}">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>
{% endblock %}