{% extends "base.html" %}
{% block title %}Search Page{% endblock %}
{% block links %}<link rel="stylesheet" href="/static/table.css" />{% endblock %}

{% block content %}
<body style="background-color:white;">
    <div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
        <!-- Search Menu Section -->
        <div class="w3-container w3-padding-8 w3-margin-top" id="Menu">
            <form name="form1" id="form1" method="POST" action="/search">
                Types:
                <select name="type" id="type" value="type">
                    {% if type == "" %}
                        <option value="" selected="selected"></option>
                        <option value="Recyclable">Recyclable</option>
                        <option value="Non-Recyclable">Non-Recyclable</option>
                    {% endif %}
                    {% if type == "Recyclable" %}
                        <option value=""></option>
                        <option value="Recyclable" selected="selected">Recyclable</option>
                        <option value="Non-Recyclable">Non-Recyclable</option>
                    {% endif %}
                    {% if type == "Non-Recyclable" %}
                        <option value=""></option>
                        <option value="Recyclable">Recyclable</option>
                        <option value="Non-Recyclable" selected="selected">Non-Recyclable</option>
                    {% endif %}
                </select>
                <br><br>Trash:
                <select name="trash" id="trash">
                    {% for n in trash_list %}
                        {% if n == "Bottle" %} 
                            <option value="Bottle">Bottle</option>
                        {% endif %}
                        {% if n == "Pop tab" %} 
                            <option value="Pop tab">Pop tab</option>
                        {% endif %}
                        {% if n == "Can" %} 
                            <option value="Can">Can</option>
                        {% endif %}
                        {% if n == "Bottle cap" %} 
                            <option value="Bottle cap">Bottle cap</option>
                        {% endif %}
                        {% if n == "Cigarette" %} 
                            <option value="Cigarette">Cigarette</option>
                        {% endif %} 
                        {% if n == "Cup" %} 
                            <option value="Cup">Cup</option>
                        {% endif %} 
                        {% if n == "Lid" %} 
                            <option value="Lid">Lid</option>
                        {% endif %} 
                        {% if n == "Other" %} 
                            <option value="Other">Other</option>
                        {% endif %} 
                        {% if n == "Plastic bag + wrapper" %} 
                            <option value="Plastic bag + wrapper">Plastic bag + wrapper</option>
                        {% endif %} 
                        {% if n == "Straw" %} 
                            <option value="Straw">Straw</option>
                        {% endif %} 
                    {% endfor %}
                </select>
                <input type="submit" name="+" id="+"  value="+">
                <br><br>Selected Trash:
                <select name="selectedtrash" id="selectedtrash" size="1" multiple="multiple">  
                    {% for n in selected_trash_list %}
                        {% if n == "Bottle" %} 
                            <option value="Bottle">Bottle</option>
                        {% endif %}
                        {% if n == "Pop tab" %} 
                            <option value="Pop tab">Pop tab</option>
                        {% endif %}
                        {% if n == "Can" %} 
                            <option value="Can">Can</option>
                        {% endif %}
                        {% if n == "Bottle cap" %} 
                            <option value="Bottle cap">Bottle cap</option>
                        {% endif %}
                        {% if n == "Cigarette" %} 
                            <option value="Cigarette">Cigarette</option>
                        {% endif %} 
                        {% if n == "Cup" %} 
                            <option value="Cup">Cup</option>
                        {% endif %} 
                        {% if n == "Lid" %} 
                            <option value="Lid">Lid</option>
                        {% endif %} 
                        {% if n == "Other" %} 
                            <option value="Other">Other</option>
                        {% endif %} 
                        {% if n == "Plastic bag + wrapper" %} 
                            <option value="Plastic bag + wrapper">Plastic bag + wrapper</option>
                        {% endif %} 
                        {% if n == "Straw" %} 
                            <option value="Straw">Straw</option>
                        {% endif %} 
                    {% endfor %}
                </select>
                <input type="submit" name="-" id="-" value="-">
                <br>
                {% if intersection == "False" %}
                    <input type="checkbox" id="Intersection" name="Intersection" value="Intersection">
                {% endif %}
                {% if intersection == "True" %}
                    <input type="checkbox" id="Intersection" name="Intersection" value="Intersection" checked>
                {% endif %}
                <label for="Intersection">Intersection of all trash</label>
                <br><br>Quantity:
                <select name="quantityType" id="quantityType" value="quantityType">
                    {% if quantityType == "" %}
                        <option value="" selected="selected"></option>
                        <option value="Greater than">Greater than</option>
                        <option value="Less than">Less than</option>
                        <option value="Equal to">Equal to</option>
                    {% endif %}
                    {% if quantityType == "Greater than" %}
                        <option value=""></option>
                        <option value="Greater than" selected="selected">Greater than</option>
                        <option value="Less than">Less than</option>
                        <option value="Equal to">Equal to</option>
                    {% endif %}
                    {% if quantityType == "Less than" %}
                        <option value=""></option>
                        <option value="Greater than">Greater than</option>
                        <option value="Less than" selected="selected">Less than</option>
                        <option value="Equal to">Equal to</option>
                    {% endif %}
                    {% if quantityType == "Equal to" %}
                        <option value=""></option>
                        <option value="Greater than">Greater than</option>
                        <option value="Less than">Less than</option>
                        <option value="Equal to" selected="selected">Equal to</option>
                    {% endif %}
                </select>
                {% if quantity == ""%}
                    <input type="text" name="quantity" id="quantity" placeholder="Quantity">
                {% endif %}
                {% if quantity != ""%}
                    <input type="text" name="quantity" id="quantity" placeholder="Quantity" value={{ quantity }}>
                {% endif %}
                <br><br>
                <input type="submit" value="Search" id="Search" name="Search">
            </form>
        </div>

        <!-- Table Section -->
        <div class="w3-container w3-padding-8 w3-margin-top" id="capabilities">
            <table class="table" style="display: style ">
                <tr class="table__header">
                {% for header in headings %}
                    <th class="table__cell">{{ header }}</th>
                {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td class="table__cell">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}
