{% extends "base.html" %} {% block title %}Search Page{% endblock %} {% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> {% endblock %} {% block content %}

<body style="background-color:white;">
    <div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
        <!-- Search Menu Section -->
        <div class="w3-container w3-padding-8 w3-margin-top" id="Menu">

            <form name="form1" id="form1" method="POST" action="/search">
                <div class='container'>
                    <div class="c">
                        Recyclables/Non-recyclables:
                        <br>{% if recyclable == "False" %}
                        <input type="checkbox" id="Recyclables" name="Recyclables" value="Recyclables" class="form-check-input"> {% endif %} {% if recyclable == "True" %}
                        <input type="checkbox" id="Recyclables" name="Recyclables" value="Recyclables" class="form-check-input" checked> {% endif %}
                        <label for="Recyclables">Recyclables</label><br>{% if non_recyclable == "False" %}
                        <input type="checkbox" id="Non_recyclables" name="Non_recyclables" value="Non_recyclables" class="form-check-input"> {% endif %} {% if non_recyclable == "True" %}
                        <input type="checkbox" id="Non_recyclables" name="Non_recyclables" value="Non_recyclables" class="form-check-input" checked> {% endif %}
                        <label for="Non_recyclables">Non-recyclables</label>
                    </div>
                    <div class="c">
                        Object:
                        <select name="trash" id="trash" size="3" class="form-select" multiple aria-label="multiple select example">
                            {% for n in trash_list %}
                                {% if n == "Bottle" %} 
                                    <option value="Bottle">Bottle</option>
                                {% endif %}
                                {% if n == "Pop tab" %} 
                                    <option value="Pop tab">Pop tab</option>
                                {% endif %}
                                {% if n == "Can" %} 
                                    <option value="Can">Can</option>
                                {% endif %}
                                {% if n == "Bottle cap" %} 
                                    <option value="Bottle cap">Bottle cap</option>
                                {% endif %}
                                {% if n == "Cigarette" %} 
                                    <option value="Cigarette">Cigarette</option>
                                {% endif %} 
                                {% if n == "Cup" %} 
                                    <option value="Cup">Cup</option>
                                {% endif %} 
                                {% if n == "Lid" %} 
                                    <option value="Lid">Lid</option>
                                {% endif %} 
                                {% if n == "Other" %} 
                                    <option value="Other">Other</option>
                                {% endif %} 
                                {% if n == "Plastic bag + wrapper" %} 
                                    <option value="Plastic bag + wrapper">Plastic bag + wrapper</option>
                                {% endif %} 
                                {% if n == "Straw" %} 
                                    <option value="Straw">Straw</option>
                                {% endif %} 
                            {% endfor %}
                            </select><input type="submit" name="+" id="+" value="+" class="a">
                    </div>
                    <div class="c">
                        Selected Trash:
                        <select name="selectedtrash" id="selectedtrash" size="3" multiple="multiple" class="form-select" multiple aria-label="multiple select example">  
                                {% for n in selected_trash_list %}
                                    {% if n == "Bottle" %} 
                                        <option value="Bottle">Bottle</option>
                                    {% endif %}
                                    {% if n == "Pop tab" %} 
                                        <option value="Pop tab">Pop tab</option>
                                    {% endif %}
                                    {% if n == "Can" %} 
                                        <option value="Can">Can</option>
                                    {% endif %}
                                    {% if n == "Bottle cap" %} 
                                        <option value="Bottle cap">Bottle cap</option>
                                    {% endif %}
                                    {% if n == "Cigarette" %} 
                                        <option value="Cigarette">Cigarette</option>
                                    {% endif %} 
                                    {% if n == "Cup" %} 
                                        <option value="Cup">Cup</option>
                                    {% endif %} 
                                    {% if n == "Lid" %} 
                                        <option value="Lid">Lid</option>
                                    {% endif %} 
                                    {% if n == "Other" %} 
                                        <option value="Other">Other</option>
                                    {% endif %} 
                                    {% if n == "Plastic bag + wrapper" %} 
                                        <option value="Plastic bag + wrapper">Plastic bag + wrapper</option>
                                    {% endif %} 
                                    {% if n == "Straw" %} 
                                        <option value="Straw">Straw</option>
                                    {% endif %} 
                                {% endfor %}
                            </select>
                        <input type="submit" name="-" id="-" value="-" class="a">
                    </div>
                    <div class="c">
                        Quantity:<br>
                        <select name="quantityType" id="quantityType" value="quantityType">
                            {% if quantityType == "" %}
                                <option value="" selected="selected"></option>
                                <option value="Greater than">Greater than</option>
                                <option value="Less than">Less than</option>
                                <option value="Equal to">Equal to</option>
                            {% endif %}
                            {% if quantityType == "Greater than" %}
                                <option value=""></option>
                                <option value="Greater than" selected="selected">Greater than</option>
                                <option value="Less than">Less than</option>
                                <option value="Equal to">Equal to</option>
                            {% endif %}
                            {% if quantityType == "Less than" %}
                                <option value=""></option>
                                <option value="Greater than">Greater than</option>
                                <option value="Less than" selected="selected">Less than</option>
                                <option value="Equal to">Equal to</option>
                            {% endif %}
                            {% if quantityType == "Equal to" %}
                                <option value=""></option>
                                <option value="Greater than">Greater than</option>
                                <option value="Less than">Less than</option>
                                <option value="Equal to" selected="selected">Equal to</option>
                            {% endif %}
                        </select> {% if quantity == ""%}
                        <input type="text" name="quantity" id="quantity" placeholder="Quantity"> {% endif %} {% if quantity != ""%}
                        <input type="text" name="quantity" id="quantity" placeholder="Quantity" value={{ quantity }}> {% endif %}
                        <br> {% if intersection == "False" %}
                        <input type="checkbox" id="Intersection" name="Intersection" value="Intersection" class="form-check-input"> {% endif %} {% if intersection == "True" %}
                        <input type="checkbox" id="Intersection" name="Intersection" value="Intersection" class="form-check-input" checked> {% endif %}
                        <label for="Intersection">Intersection of All Selected Objects</label>
                        <br><input type="submit" value="Search" id="Search" name="Search" class="b">
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="mydiv">
        <!-- Table Section -->
        <table class="table table-hover" style="display: {{ style }} ">
            <tr class="table__header">
                {% for header in headings %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
                <th class="table__header">
                    Download
                </th>
                <th class="table__header">
                    Preview
                </th>
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %} {% if row %}
                <td class="table__cell">
                    <a href="{{url_for('download_file', img=" output_{} ".format(row[0]).strip(), is_ann=True)}}">Download</a>
                </td>
                <td class="table__cell">
                    <img src="{{ url_for('display_image', filename=" output_{} ".format(row[0]).strip(), is_ann=True) }}" alt="library_img" width="75" height="75">
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% endblock %}