{% extends "base.html" %}
{% block title %}Upload Page{% endblock %}
{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/upload.js"></script>
{% endblock %}

{% block content %}
<body>
    <div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
        <!-- Upload Section -->
        <div class="w3-container w3-padding-8 w3-margin-top" id="upload">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </p>
            {% if filename %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}" alt="library_img">
                </div>
            {% endif %}
            <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
            </form>
        </div>
    </div>
</body>
{% endblock %}