{% extends "base.html" %}
{% block title %}Upload Page{% endblock %}
{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            var button = document.getElementById('submit');
            button.outerHTML='<button type="button" id="submit" class="btn btn-primary" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>';
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            $.ajax({
                xhr : function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function(e) {
                        if (e.lengthComputable) {
                            console.log('Bytes Loaded: ' + e.loaded);
                            console.log('Total Size: ' + e.total);
                            console.log('Percentage Upladed ' + (e.loaded / e.total));
                            var percent = Math.round((e.loaded / e.total) *100);
                            if(percent == 100) {
                                $('#progressBar').attr('aria-valuenow', percent).css('width', percent +'%').text(percent + '% ' + '(Upload complete please wait for the detection. Thank you for patient!)');
                            } else {
                                $('#progressBar').attr('aria-valuenow', percent).css('width', percent +'%').text(percent + '%');
                            }
                        }
                    });
                    return xhr;
                },
                type : 'POST',
                url : '/upload',
                data : formData,
                processData : false,
                contentType : false,
                success : function() {
                    button = document.getElementById('submit');
                    button.outerHTML='<input type="submit" id="submit" value="Detect and Upload" class="btn btn-info">';
                    $('#progressBar').attr('aria-valuenow', 100).css('width', 100 +'%').text(100 + '% ' + 'Successfully uploaded and detected all files! please proceed to the library page to check them or to the search page to filter through the results! Thank you for your patience!');
                    alert('Files have been uploaded and detected!');
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<body>
    <div class="w3-content w3-padding-64 w3-margin-top" style="max-width:1564px">
        <!-- Upload Section -->
        <div class="w3-container w3-padding-8 w3-margin-top" id="upload">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                        {% if message == 'You can view all your uploaded files in the library page' %}
                            <p>&nbsp;</p>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </p>
            <!-- {% if filename %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}" alt="library_img">
                </div>
            {% endif %}
            {% if ann_image %}
                <div>
                    <img src="{{ url_for('display_image', filename=ann_image) }}" alt="library_img">
                </div>
            {% endif %} -->
            <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
                <p>
                    <input type="file" name="files[]" class="form-control" multiple="true" autocomplete="off" required>
                </p>
                <p>
                    <input type="submit" id="submit" value="Detect and Upload" class="btn btn-info">
                </p>
            </form>
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col">

                <div class="mb-3 mt-3">

                    <h2 class="mb-3" style="font-weight: 300">Upload video</h2>

                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file_input" oninput="input_filename();">
                            <label for="file_input" id="file_input_label" class="custom-file-label">Select file</label>
                        </div>
                    </div>

                    <button onclick="upload('{{ request.url }}')" id="upload_btn" class="btn btn-primary">Upload</button>

                    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Uploading...
                    </button>

                    <button class="btn btn-secondary d-none" id = "cancel_btn" type="button">Cancel upload</button>

                </div>

                <div id="progress_wrapper" class="d-none">
                    <label id="progress_status">50% uploaded</label>
                    <div class="progress mb-3">
                        <div id="progress" class="pregress-bar" role="progressbar" aria-valuenow="25" area-valuemin="0" area-valuemax="100"></div>
                    </div>
                </div>

                <div id="alert_wrapper"></div>

            </div>
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
{% endblock %}