#type,
#trash,
#selectedtrash {
    width: 15%;
}

#quantityType {
    width: 150px;
}

#quantity {
    width: 70px;
}

.a {
    width: 15%;
    padding: 5px 15px;
    background: #5c9dfe;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
}

.b {
    width: 100px;
    padding: 5px 15px;
    background: #5c9dfe;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
}

.c {
    width: 600%;
    height: 600%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#quantity {
    text-align: right;
}

.mydiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td {
    text-align: center;
}